obj
*.bin
*.jpg
*.png

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# python caches
*.pyc
__pycache__/

# MAC stuff
.DS_Store

# config
config.json

# glew
glew.pc

# ide caches
.idea/